
  .img{
    height: 165px;
    columns: 1;
    display: inline-block;
    
  }
  .david{
    width: 300px;
    height: 500px;
  }
  .logo{
    height: 50px;
    width: 50px;
    vertical-align: middle;
  }
  .intro{
  font-size: x-large;
  color: #663333;
  }
header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    align-items: center;
}
.name{
    font-size: 20px;
    color: beige;
    display: inline-block;
    vertical-align: middle;
}

.columns {
    column-count: 2;
    column-gap: 40px;
    column-rule: 5px double;
}
.about{
    display: flex;
    flex-wrap: wrap;
    color: #663333;
    font-size: larger;
    padding: .5rem;
}
.dny{
    width: 450px;
}
body{
    background-color: lightgrey;
}
header{
    background-color: #663333;
    padding: 1rem;
}
.pages{
    font-size: 20px;
    margin: 0;
        color: #EFEAEA;
        text-decoration: none;
        background-color: #778899;
    
}
.bench{
    padding: 0 0 0 110px;
    position: relative;
    margin-bottom: 24px;
}
.bar{
    padding: 0 0 0 110px;
    position: relative;
    margin-bottom: 24px;
 }
.axe{
    padding: 0 0 0 110px;
    position: relative;
    margin-bottom: 24px;
   
 }
.stools{
    padding: 0 0 0 110px;
    position: relative;
    margin-bottom: 24px;
   
 }
.skewer{
    padding: 0 0 0 110px;
    position: relative;
    margin-bottom: 24px;
    
 }
.cupcake{
    padding: 0 0 0 150px;
    position: relative;
    margin-bottom: 24px; 
}
 .epoxy{
    padding: 0 0 0 110px;
    position: relative;
}
 .additions{
    padding: 0 0 0 110px;
    position: relative;
 }
 .woodburning{   
    padding: 0 0 0 110px;
    position: relative;
}
.contact{
    font-size: x-large;
    column-count: 2;
}
.shop{
    display: flex;
    flex-wrap: wrap;
}
@media only screen and (max-width: 600px) {
    .columns{
        column-count: 1;
    }
    .creek{
        width: 200px;
    }
  }